@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Noto+Sans+KR:wght@500&display=swap');

* {
    font-family: 'Bebas Neue','Noto Sans KR', cursive;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

a {
    color: #333;
    text-decoration: none;
}

/* 팀소개페이지(사진) */

.parallax {
    /* The image used */
    background-image: url("https://64.media.tumblr.com/0da4b337db83dc1d3484bbf3113de25e/tumblr_ofqc8qNHep1rzlq9xo1_1280.gifv");

    /* Set a specific height */
    min-height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.gap {
    background-color: transparent;
    height: 500px;
}
.team_h {
    color: white;
    margin-left: 25%;
    height: 200px;
    display: flex;
    align-items: center;
}

.team_intro {
    background-color: black;
    height: 100%;
    font-size: 25px;
    height: 2000px;
}

.row {
    display: -ms -flexbox;
    /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap;
    /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;

}

.column {
    -ms-flex: 25%;
    /* IE10 */
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    .column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
}

/* 팀멤버소개 (완료)*/
.mem_h {
    color: #fff;
    margin-left: 25%;
}

.team_member_wrapper {
    display: flex;
    height: 80vh;
    justify-content: center;
    align-items: center;
    background-color: black;
    margin-bottom: 0px;
}

.team {
    display: flex;
    justify-content: center;
    align-items: center;
}

.team-item {
    flex-basis: 300px;
    flex-shrink: 0;
    margin: 0 4px;
    opacity: 0.4;
    transition: all .4s;
    width: 100%;
    justify-content: space-around;
    align-items: center;

}

.team-item:hover {
    opacity: 1;
    flex-basis: 360px;
    margin: 0 20px;
}

.team-item img {
    width: 100%;
}

.profile {
    background-color: #222;
    position: relative;
    overflow: hidden;
}

.profile:before {
    content: ' ';
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.95+100 */
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.95) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.95) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.95) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#f2000000', GradientType=0);
    /* IE6-9 */
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 200px;
}

.profile_2 {
    color: yellow;
}

.profile_3 {
    color: white
}

.profile_4 {
    color: pink;
}

.profile_5 {
    color: violet;
}

.profile-contents {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 10px;
}

.profile-contents h2 {
    font-size: 30px;
    margin-left: 20px;
}

.profile-contents h2 span {
    display: block;
    font-size: 20px;
}

.profile-contents p {
    color: white;
    font-size: 20px;
    min-width: 140px;
    max-height: 0;
    overflow: hidden;
    line-height: 1.2;
    transition: all 1s;
    opacity: 0;
}

.team-item:hover .profile-contents p {
    opacity: 1;
    transition-delay: .2s;
    max-height: 6em;
    margin-top: 0.4em;
}

/* 댓글창 */
.comment-area {
    background-color: black;
}

.postcomment {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;

}

.mypost {
    width: 95%;
    max-width: 300px;
    margin: 20px 20px 20px auto;

    box-shadow: 0px 0px 3px 0px white;
    padding: 20px;
}

.mypost>button {
    margin-top: 15px;
}

.yourcards {
    width: 95%;
    max-width: 300px;
    margin: auto auto auto 20px;
    overflow: scroll;
}

.yourcards>.card {
    margin-top: 10px;
    margin-bottom: 10px;
}


header {
    background-color: black;
    width: 100%;
    height: 88px;
    position: fixed;
    top: 0px;
    


}

button + button {

    margin-left: 30px;
    
    }

header>img {
    margin: 10px 0px 10px 30px;
}

.menu {
    color: aliceblue;
    position: absolute;
    top: 25px;
    right: 300px;
    display: flex;
    overflow: visible;
}

.menu>button {
    width: 110px;
    height: 40px;
    padding-top: 5px;
    background-color: black;
    color: white;
    border: 1px solid white;
    border-radius: 50px;
    font-size: 18px;
    float: left;
    text-decoration-line: none;
    overflow: visible;
    transition: all 0.3s;
}

.menu>button:hover {
    background-color: white;
    color: black;
    width: 140px;
    border: 1px solid black;
    overflow: visible;

}

.main {
    margin-top: 50px;
}



.title_txt {
    color: white;
    top: 0px;
    left: 2%;
    padding-top: 15%;
    animation-name: fade-in;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-direction: normal;
}

.title_txt span {
    font-size: 25px;
}

.title_txt>p {
    width: 100%;
    
    margin-left: 15%;
    font-size: 20px;
}

.title_txt>h1 {
    width: 100%;
    margin-left: 30%;
    font-size: 100px;
}

@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translateY(150px);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}



.team_main {
    margin-right: 30px;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 30px auto 30px auto;
}

.p-footer__site-group-list {
    display: flex;
    padding-bottom: 50px
}

@media only screen and (max-width: 640px) {
    .p-footer__site-group-list {
        flex-direction:column;
        padding-bottom: 0
    }
}

.p-footer__site-group {
    width: 170px;
    margin: 0;
    padding: 0;
    color: #6b7684;
    color: var(--grey600);
    list-style: none;
    font-size: 15px;
    line-height: 30px;
    box-sizing: border-box
}

@media only screen and (max-width: 640px) {
    .p-footer__site-group {
        width:100%;
        padding-bottom: 40px
    }
}

.p-footer__site-group:last-of-type {
    flex: 1
}

.p-footer__site-group-title {
    padding-bottom: 5px;
    color: #333d4b;
    color: var(--grey800);
    font-weight: 700;
    font-weight: var(--font-weight-bold)
}

.p-footer__site-group-item>a {
    display: block;
    text-decoration: none;
    color: #6b7684;
    color: var(--grey600)
}

.p-footer__site-group-item>a:active,.p-footer__site-group-item>a:hover {
    text-decoration: underline;
    cursor: pointer
}
.p-footer__address {
    color: #8b95a1;
    color: var(--grey500);
    font-size: 13px;
    font-style: normal;
    line-height: 20px;
    white-space: pre-wrap
}

.p-footer__address__company-name {
    display: block;
    padding-bottom: 16px;
    color: #333d4b;
    color: var(--grey800);
    font-size: 15px
}
